<h2>Explore the Valley!<h2>

<p>Here we'll add the community features such as user reviews, trail recommendations, photos, etc.</p>

<%= link_to('Back to Home', {controller: 'stations', action:'index'}) %>
