<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to Clemenbykes! CiTrust us to get to your Destination...
    </div>  
    <div class="flexbox vertical stretch">
    

      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %> #the partial is stations/_row.html.erb!
        
        <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div>
</div>
