<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.name %> (<%= station.address %>) 
  <ul style= "background-color: #78a350;">
   <li><%= link_to("Rent a bike at this station", new_rental_path(params:{station_id: station.id}), class: 'action new') %></li>
  </ul>
</div>
