
    <div class="page-section flexbox vertical stretch">
        <div class="section-inner flexbox vertical stretch">
            <div class="section-title flexbox horizontal center" style = "text-align: center">
            Explore the Valley!
            </div>
        </div>
    </div>


<%= form_for (@post), url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <div class="form-group">
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  </div>
<% end %>