<div class= " check-container">

<div id= "bikeimg" style= "margin-top:2em; margin-left: 10em;">
    <%= image_tag('Carol.png', width: '300px') %>
</div>
 
 <div id= "desc"style = "margin-top:2em">
   <div class="section-title flexbox horizontal center">
    <h1 class="font-bold text-3xl">yarnlover123</h1>
   </div>
    <h1> Wow this bike system is amazing for an old soul like me. Everything is so accessible and affordable! 10/10 would reccommend!</h1>
 </div>

 <div id= "rdesc" style= "margin: 5em">
    <h1> The explore feature was supposed to be a place where users could view and post posts about their favorite trails. Posts could include images, and users could search for different trails based on length, area of the valley, and more. Users could rate trails too, and ideally there would be some sort of filter or mod feature to make sure content was appropriate. We didn't get to coding this feature, but we thought we'd share anyway :)!</h1>
</div>

</div>