<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  color: white;
}

.split {
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #ffffff;
}

.right {
  right: 0;
  background-color: #f67f25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img{
  max-width: 750px;
  max-height: 500px;
  position: static;
  margin: auto;

}


</style>
</head>
<body>

<div class="split left">
  <div class="centered">
    <h1> Welcome to ClemenBykes! CiTrust us to get to your Destination...</h1>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <%= image_tag('Clemenbykes stock photo.png') %>
  </div>
</div>


</body>
</html> 



