<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  background-color: #fffff;
}

.split {
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #fffff;
}

.right {
  right: 0;
  background-color: #f67f25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img{
  max-width: 750px;
  max-height: 750px;
  margin: auto;
}


</style>
</head>
<body>

    
<div class="split left">
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch" style= "margin-right: 5em; margin-left: 5em;">
      <div class="section-title flexbox horizontal center">
            <h1>CiTrust us to get to your destination!</h1>
         </div>
        <p> With stations across Amherst, Northampton, Hampshire, and Springfield, perform errands with ease or have fun exploring scenic bike routes!</p>
          <%= link_to('Start Now', map_home_index_path, class: 'button') %>
        </div>
      </div>
    </div>
    <div class="split right">
      <div class="centered" style = "overflow-y:hidden;">
        <%= image_tag('Clemenbykes stock photo.png') %>
      </div>
    </div>

<div class="page-section flexbox vertical stretch" style= "margin-top: 450px;">
  <div class="section-inner flexbox vertical stretch">
      <div class="section-title flexbox horizontal center">
          How It Works
        </div>
          <div class="container" style= "text-align: center;">
            <div class="row">
              <div class="column">
                    <h1>Step 1 </h1>
                    <h2>Get Code </h2>
              </div>
              <div class="column">
                  <h1>Step 2</h1>
                  <h2>Unlock</h2>
              </div>
              <div class="column">
                  <h1>Step 3</h1>
                  <h2>Ride</h2>
              </div>
              <div class="column">
                  <h1>Step 4</h1>
                  <h2>Return</h2>
              </div>    
            </div>
          </div>
    </div>
  </div>


</body>
</html> 



