

<div class= "map-container">
<div id= "mapdesc">
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title flexbox horizontal center">
        <h2 style= "margin-top: 2em">Checkout Our Stations Around the Pioneer Valley!</h2>
      </div>
        <p style= "margin-bottom: 3em;"> Search for a station near your location or click on a station marker below.</p>
    </div>
  </div>
  
</div>

<div id="mapSidebar" class="sidebar">
<% if @stations.present? %>
  <%= render(partial: "home/row", collection: @stations, as: :station) %>
<% else %>
  <div class="empty">
    No stations found.
  </div>
<% end %>
</div>



<div id="map"></div>

<%=javascript_include_tag 'map' %>




</div>







