

<div class= "map-container">
<div id= "mapdesc">
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title flexbox horizontal center">
        <h2 style= "margin-top: 2em">Check out Our Stations Around the Pioneer Valley!</h2>
      </div>
        <% if user_signed_in? && !current_user.rentals.where(return: nil).empty? %>
          <p style= "margin-bottom: 3em;"> Done riding? Select a station from the sidebar to return your bike!</p>
        <% else %>
          <p style= "margin-bottom: 3em;"> Ready to ride? View the station locations in the map below, and select a station from the sidebar to rent a bike!</p>
        <% end %>
    </div>
  </div>
  
</div>

<div id="mapSidebar" class="sidebar">
<% if @stations.present? %>
  <%= render(partial: "home/row", collection: @stations, as: :station) %>
<% else %>
  <div class="empty">
    No stations found.
  </div>
<% end %>
</div>



<div id="map"></div>

<%=javascript_include_tag 'map' %>




</div>







