

<div class= "map-container">
<div id= "mapdesc">
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title flexbox horizontal center">
        <h2 style= "margin-top: 2em">Checkout Our Stations Around the Pioneer Valley!</h2>
      </div>
      <div class= "button" style= "margin-top: 2em">
      <%= link_to("Return Bike", edit_rental_path(rental), class: 'action edit') %></div>
      <div class= "button" style= "margin-top: 2em">
      <%= link_to("View all rentals", rental_path) %></div>
    </div>
    </div>
  </div>
  
</div>

<div id="mapSidebar" class="sidebar">
<% if @stations.present? %>
  <%= render(partial: "home/row", collection: @stations, as: :station) %>
<% else %>
  <div class="empty">
    No stations found.
  </div>
<% end %>
</div>



<div id="map"></div>

<%=javascript_include_tag 'map' %>




</div>







