<html>
<head>
<style>
body{
  background-color: #ffffff;
}

</style>
</head>
<body>

<div class= "gen-container">
<div id= "general">
 <div class="page-section flexbox vertical stretch">
     <div class="section-inner flexbox vertical stretch">

          <div class="section-title flexbox horizontal center" style = "text-align: center; margin-top: 1em;">
            Our Sweet Pricing Option!
          </div>

     <div class="container">
          <div class="row" style= "background-color: ">
               <div class="column">
                    <p>Unlike other expensive bike services we want our rides to be affordable. So, ride as long as you like, cause it will only cost you   </p>
          
           <h1 class="font-bold text-4xl">$0.05/minute</h1>
           <div id= "bikeimg" style= "max-width: 400px; position: static; margin: auto;">
           <%= image_tag('naranja.gif') %>
           </div>
           <p>Are you ready to ride? Click the button below to start! </p>
           <%= link_to('Start Now', map_home_index_path, class: 'button') %>
           </div>
           </div>
           
          </div>
          </div>
     </div>
     </div>
</div>
   
