<html>
<head>
<style>
body{
  background-color: #b1e695;
}
</style>
</head>
<body>

<div class= "gen-container">
<div id= "general">
 <div class="page-section flexbox vertical stretch">
     <div class="section-inner flexbox vertical stretch">
          <div class="section-title flexbox horizontal center" style = "text-align: center">
            Our Sweet Pricing Options!
          </div>

     <div class="container">
          <div class="row">
               <div class="column">
                    <h1>One Time Pass</h1>
                    <p>First 30 minutes: $2.00</p>
                    <p>Additional time: $0.05/min</p>
               </div>
               <div class="column">
                    <h1>Monthly Pass</h1>
                    <p>One month: $20</p>
                    <p>Unlimited 45 minute trips</p>
                    <p>Additional time: $0.05/min</p>
               </div>
               <div class="column">
                    <h1>Annual Pass</h1>
                    <p>One Year: $80</p>
                    <p>Unlimited 45 minute trips</p>
                    <p>Additional time: $0.05/min</p>
               </div>
          </div>
          <div class="row">
               <div class="column">
                    <h1>Income Eligible Pass</h1>
                    <p>Don't worry about costs and apply for our Income Eligible Program!</p>
               </div>
          </div>
          </div>
     </div>
     </div>
</div>
   
</div>
</div>
</body>
</html>