<div class= "gen-container">
  <div id= "general">
    <div class="page-section flexbox vertical stretch">
      <div class="section-inner flexbox vertical stretch">
        <div class="section-title flexbox horizontal center">
            <h2"><%= current_user.first_name %>'s profile!</h2>
        </div>
          <% if user_signed_in? %>
            <div class="flexbox vertical center" style="margin: 3em;">
              <%= link_to "Edit My Info", edit_user_registration_path, class: 'button' %>
              <%= link_to "My Rentals", rentals_path, class: 'button' %>
              <% unless current_user.rentals.where(return: nil).empty? %>
                <%= link_to "Current rental", rental_path(@active_rental.id), class: 'button' %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
