<table class="listing" summary="Rental list" style="width: 90%;">

<tr class="header">
  <th>Rented from</th>
  <th>Returned to</th>
  <th>Bike ID</th>
  <th>Rental code</th>
  <th>Checkout time</th>

  <th>Return time</th>
  <th>Rental length</th>
  <th>Cost of rental</th>

</tr>

</table>