<div>
  <h1 class="font-bold text-4xl">Return your Bike</h1>
  <p>We hope you had a fruitful trip!</p>
</div>


<div class="rentals edit">
  <h2>Return bike to:</h2>

  <%= form_for @rental, method: :patch do |form| %>

    <%= form.select :return_station_id, Station.all.collect {|p| [ p.name, p.id ]}, include_blank: true %>
    
    <div class="form-buttons">
      <%= form.submit "Return now" %>
    </div>

  <% end %>
</div>