<div class= "gen-container">
  <div id= "general">
    <div class="page-section flexbox vertical stretch">
      <div class="section-inner flexbox vertical stretch">
        <div class="section-title flexbox horizontal center" style = "text-align: center">
          <div class="rental new">
            <h2>Rent a bike</h2>
            <p>Station Name: <%=@station.name%>
            Station Address: <%=@station.address%></p>
          </div> 
        </div>
      </div>
    </div>

    <%= form_for (@rental), url: {action: "create"}, html: {class: "nifty_form"} do |form| %>
    
      <div class="form-buttons">
        <%= form.submit "Rent now!" %>
      </div>

    <% end %>

  </div>
</div>

    

