<div>
  <h1 class="font-bold text-4xl">Rental#new</h1>
  
  
  
</div>



<div class="rental new">
  <h2>New Rental</h2>

  <%= form_for (@rental), url: {action: "create"}, html: {class: "nifty_form"} do |form| %>

    <%= form.datetime_local_field :checkout %>

    <%= form.submit "Create" %>
    <% end %>
</div>



