<div>
  <% if @rental.return == nil %>
    <h1 class="font-bold text-4xl">Here is your rental</h1>
  <% else %>
    <h1 class="font-bold text-4xl">Thanks for riding with us!</h1>
  <% end %>

</div>

<%= render(partial: "rentals/table_header") %>
<%= render(partial: "rentals/row", object: @rental) %>

<div>
  <h2 class="font-bold text-4xl">
    <%= link_to("Show all rentals", rentals_path) %>
  </h2>

</div>