.sidebar{
    position: absolute;
    height: 70%;
    width: 0;
    z-index: 1;
    top: 50;
    left: 0;
    background-color: #60843f;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar a {
    border-radius: 120px;
    text-decoration: none;
    font-size: 1em;
    color:  #ffffff;
    display: block;
    transition: 0.3s;
  }

.sidebar a:hover{
    border-radius: 120px;
    border-style: solid;
    border-width: thin medium thin;
    border-color: white;
    background-color:  #e09213;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: absolute;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #60843f;
    padding: 10px 15px;
    color: white;
    border: none;
    margin-left: -640px;
  }
  
  .openbtn:hover {
    background-color:  #59882d;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }