.button{
    border-radius: 25px;
    display: block;
    color: white;
    background-color: #557735;
    text-align: center;
    padding: 8px;
}

.button form:hover {
    background-color: #59882d;
}

.button a:hover {
    background-color: #59882d;
}

.rent-button{
    display: block;
    color: white;
    border-radius: 10%;
    background-color: #78a350;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 70%;
}

.rent-button:hover {
    background-color: #d39510;
    border-radius: 10%;
    transition: background-color 0.3s;
}

nav{
    float:right
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff873c;
}
  
nav ul li {
    float: left;
    margin: 0;
}
  
nav ul li a {
    display: block;
    color: white;
    float: right;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
}


nav ul li a:push{
    margin-left: auto;
}
  
nav ul li a:hover {
    background-color: #f67f25;
}
 
nav ul li form {
    display: block;
    color: white;
    float: right;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
}

nav ul form:hover {
    background-color: #f67f25;
}
 


