/************************************/
/*       Universal Page Style       */
/************************************/

header {
  background: #ff873c;
  grid-row: 1;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.home-container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .5fr .2fr 1fr;
  grid-template-areas:
  "welcome welcome bikeimg bikeimg" 
  "howto howto howto howto"
  "mapdesc mapdesc mapdesc mapdesc"
  "map map map map"
 
}

.map-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr;
  grid-template-areas:
  "mapSidebar mapdesc mapdesc mapdesc" 
  "mapSidebar map map map"

}

.reglog-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "reglog reglog reglog reglog" 
}

.gen-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "gen gen gen gen" 
}

.about-container {
   display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .5fr .2fr 1fr;
  grid-template-areas:
  "text text img img" 
  "faq faq faq faq"
}

.profile-container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .5fr .2fr 1fr;
  grid-template-areas:
  "photo photo"
  "name name"
  "background-photo background-photo background-photo background-photo"
}


footer {
  grid-row: 3;
  bottom: 0;
  width: 100%;
  padding: 3em;
  background: #ff873c;
}

footer ul{
  float: right;
  color: white;
}

.container{
  margin: 0 auto;
  justify-content: space-between;
}

.row {
  display: flex;
  gap: 4em; 
  margin-bottom: 70px;
}

.column{
  border-radius: 25px;
  background-color: #ffffff;
  color: #2a5c25;
  padding: 3em 1em 3em 1em;
  flex: 1;
}

.profile-column{
  z-index: 2;
  border-radius: 25px;
  border-color: #cfad47;
  border-width: thick;
  background-color: #ffffff;
  color: #69b962;
  padding: 3em 1em 3em 1em;
  width: 25%;
  margin-left: 870px;
}

.profile-row {
  display: block;
  margin-top: 190px;
  margin-bottom: 170px;
}

.column h1{
  text-align: center;
  font-size: 2em;
}

.logo{
  float: left;
  padding: 1em;
}

.page-section {
  max-width: 100em;
  width: 100%;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
  justify-content: center;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.odd {
  background: var(--dark-white-color);
}



/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
