header {
    background: #ff873c;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

.button{
    display: block;
    color: white;
    background-color: #78a350;
    text-align: center;
    padding: 8px;
    margin-right: 350px;
    margin-top: 40px;
}S

.button form:hover {
    background-color: #59882d;
}

.button a:hover {
    background-color: #59882d;
}
 

.container{
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}


.row {
    display: flex;
    gap: 40px; 
    margin-bottom: 30px;
}

.column{
    background-color: #78a350;
    color: white;
    padding: 1em;
    flex: 1;
}

.column h1{
    text-align:center;
    font-size: 2em;
}

.logo{
    float: left;
    padding: 1em;
}

nav{
    float:right
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff873c;
}
  
ul li {
    float: left;
    margin: 0;
}
  
ul li a {
    display: block;
    color: white;
    float: right;
    text-align: center;
    padding: 40px 45px;
    text-decoration: none;
}

ul form {
    display: block;
    color: white;
    float: right;
    text-align: center;
    padding: 27px 30px;
    text-decoration: none;
}

nav ul form:hover {
    background-color: #f67f25;
}
 

nav ul li a:push{
    margin-left: auto;
}
  
nav ul li a:hover {
    background-color: #f67f25;
}
 

footer {
    height: 3em;
    padding: 3em;
    margin-top: 3em;
      background: #ff873c;
}

footer ul{
    float: right;
    color: white;
}